/backend/.env
/backend/data/

# Gateways
/backend/gateways/frai/sadtalker/
/backend/gateways/frai/Wav2Lip/
/backend/gateways/frai/test/

# Services
/backend/services/chat-gateway/uploads/

# Models
/backend/models/sadtalker/checkpoints/
/backend/models/sadtalker/gfpgan/
/backend/models/Wav2Lip/wav2lip.pth
/backend/models/piper/ar/
/backend/models/piper/en/
/backend/models/piper/ru/
/backend/models/piper/zh/
